<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668851014017-3al0nkupvlu1va80i6dkqcfu789rkrh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668851014017-3al0nkupvlu1va80i6dkqcfu789rkrh7</string>
	<key>API_KEY</key>
	<string>AIzaSyACb5U_s82nCHLoZ9EOztXwEnPizNX91vw</string>
	<key>GCM_SENDER_ID</key>
	<string>668851014017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled4logintuyotrial</string>
	<key>PROJECT_ID</key>
	<string>flutter-new-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-new-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668851014017:ios:878fbe3e9296c7b6210080</string>
</dict>
</plist>